<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="PubComp">
      <section name="CacheConfig" type="PubComp.Caching.Core.CacheConfigurationHandler, PubComp.Caching.Core" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <PubComp>
    <CacheConfig>
      <add name='cacheFromConfig1' assembly='PubComp.Caching.Core' type='NoCache' />
      <add name='cacheFromConfig2' assembly='PubComp.Caching.Core' type='NoCache' />
      <remove name='cacheFromConfig2' />
      <add name='cacheFromConfig2'
           assembly='PubComp.Caching.Core.UnitTests' type='PubComp.Caching.Core.UnitTests.Mocks.MockNoCache'
           policy='{"SlidingExpiration":"00:15:00"}' />
      <add name='cacheFromConfig3' assembly='PubComp.Caching.Core' type='NoCache' />
      <remove name='cacheFromConfig3' />
      <add name="localRedisUrl"
           assembly="PubComp.Caching.Core.UnitTests" type="Mocks.PlainConnectionString"
           connectionString="127.0.0.1:1234,serviceName=mymaster" />
      <remove name="localRedisUrl" />
      <remove name='cacheFromConfig4' />
      <add name="localRedisUrl"
           assembly="PubComp.Caching.Core.UnitTests" type="Mocks.PlainConnectionString"
           connectionString="127.0.0.1:6379,serviceName=mymaster" />
      <add name="localRedisUrlEnc"
           assembly="PubComp.Caching.Core.UnitTests" type="Mocks.UrlEncConnectionString"
           encConnectionString="127.0.0.1%3A6379%2CserviceName%3Dmymaster" />
      <add name="noNotifier" assembly="PubComp.Caching.Core.UnitTests" type="Mocks.NoNotifier"
           policy="{'ConnectionName':'localRedisUrl'}" />
      <remove name='noNotifier' />
      <add name="localRedisB64Enc"
           assembly="PubComp.Caching.Core.UnitTests" type="Mocks.B64EncConnectionString"
           encConnectionString="MTI3LjAuMC4xOjYzNzksc2VydmljZU5hbWU9bXltYXN0ZXIsYWxsb3dBZG1pbj10cnVl" />
      <add name="noNotifier" assembly="PubComp.Caching.Core.UnitTests" type="Mocks.NoNotifier"
           policy="{'ConnectionName':'localRedisB64Enc'}" />
    </CacheConfig>
  </PubComp>

  <system.diagnostics>
    <sources>
      <source name="System.Net" switchValue="All">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
      <source name="System.Net.Sockets" switchValue="All">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="nlog" type="NLog.NLogTraceListener, NLog" />
    </sharedListeners>
  </system.diagnostics>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" autoReload="true" internalLogFile="c:\logs\nlog-internal-log.txt" internalLogLevel="Warn">

    <targets async="false">
      <target name="console" type="ColoredConsole" layout="${longdate} ${windows-identity} ${message}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
  
</configuration>