<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="PubComp">
      <section
        name="CacheConfig"
        type="PubComp.Caching.Core.CacheConfigurationHandler, PubComp.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
      <section
        name="CacheNotificationsConfig"
        type="PubComp.Caching.Core.CacheConfigurationHandler, PubComp.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>

  <PubComp>
    <CacheConfig>
      <add name='cacheFromConfig1' assembly='PubComp.Caching.Core' type='NoCache' />
      <add name='cacheFromConfig2' assembly='PubComp.Caching.Core' type='NoCache' />
      <remove name='cacheFromConfig2' />
      <add name='cacheFromConfig2' assembly='PubComp.Caching.Core.UnitTests' type='PubComp.Caching.Core.UnitTests.Mocks.MockNoCache'
           policy='{"SlidingExpiration":"00:15:00"}' />
      <add name='cacheFromConfig3' assembly='PubComp.Caching.Core' type='NoCache' />
      <remove name='cacheFromConfig3' />
      <remove name='cacheFromConfig4' />
    </CacheConfig>
  </PubComp>
  
</configuration>