<NuGetPack>
  <AddFrameworkReferences>true</AddFrameworkReferences>
  <ProjectUrl>https://pubcomp.codeplex.com</ProjectUrl>
  <LicenseUrl>https://pubcomp.codeplex.com/license</LicenseUrl>
  <Authors>Danny Varod</Authors>
  <Description>Web API caching extensions</Description>
  <Summary>Web API caching extensions</Summary>
  <Keywords>Cache, Caching, CacheManager, WebAPI, Web, API, PubComp</Keywords>
</NuGetPack>