<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="PubComp">
      <section name="CacheConfig" type="PubComp.Caching.Core.CacheConfigurationHandler, PubComp.Caching.Core" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <PubComp>
    <CacheConfig>
      <!--<add name="localRedis" assembly="PubComp.Caching.RedisCaching" type="RedisConnectionString" connectionString="127.0.0.1:6379,serviceName=mymaster" />
      <add name="localRedisAdmin" assembly="PubComp.Caching.RedisCaching.UnitTests" type="Mocks.B64EncConnectionString" encConnectionString="MTI3LjAuMC4xOjYzNzksc2VydmljZU5hbWU9bXltYXN0ZXIsYWxsb3dBZG1pbj10cnVl" />-->
      <add name="localRedis" assembly="PubComp.Caching.RedisCaching" type="RedisConnectionString" connectionString="172.20.0.22:12296,password=123qwe!,serviceName=mymaster" />
      <add name="localRedisAdmin" assembly="PubComp.Caching.RedisCaching" type="RedisConnectionString" connectionString="172.20.0.22:12296,password=123qwe!,serviceName=mymaster" />

      <add name="redisCache" assembly="PubComp.Caching.RedisCaching" type="RedisCache" policy="{'ConnectionName':'localRedisAdmin', 'ExpirationFromAdd':'00:10:00'}" />
      <add name="localCache" assembly="PubComp.Caching.SystemRuntime" type="InMemoryCache" policy="{'ExpirationFromAdd':'00:10:00', 'SyncProvider':'redisNotifier'}" />
      <add name="layeredCache" assembly="PubComp.Caching.Core" type="LayeredCache" policy="{'Level1CacheName':'localCache', 'Level2CacheName':'redisCache'}" />
      <add name="redisNotifier" assembly="PubComp.Caching.RedisCaching" type="RedisCacheNotifier" policy="{'ConnectionName':'localRedis', 'GeneralInvalidationChannel':'+general-invalidation'}" />

      <add name="MyApp.LocalCacheWithNotifier" assembly="PubComp.Caching.SystemRuntime" type="InMemoryCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'redisNotifier'}" />
      <add name="MyApp.LocalCacheWithNotifier2" assembly="PubComp.Caching.SystemRuntime" type="InMemoryCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'redisNotifier'}" />

      <add name="MyApp.LayeredCache" assembly="PubComp.Caching.Core" type="LayeredCache" policy="{'Level1CacheName':'MyApp.LocalCacheWithNotifier', 'Level2CacheName':'redisCache'}" />
      <add name="MyApp.LayeredCacheWithAutomaticInvalidation" assembly="PubComp.Caching.Core" type="LayeredCache" policy="{'Level1CacheName':'MyApp.LocalCacheWithNotifier2', 'Level2CacheName':'redisCache', 'InvalidateLevel1OnLevel2Upsert':true}" />

      <add name="MyApp.LocalCacheWithNotifierAndFallback" assembly="PubComp.Caching.SystemRuntime" type="InMemoryCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'redisNotifier', 'OnSyncProviderFailure':{'ExpirationFromAdd':'00:00:03'}}" />
      <add name="invalidConnectionRedis" assembly="PubComp.Caching.RedisCaching" type="RedisConnectionString" connectionString="127.0.0.1:7379,serviceName=mymaster" />
      <add name="invalidConnectionRedisNotifier" assembly="PubComp.Caching.RedisCaching" type="RedisCacheNotifier" policy="{'ConnectionName':'invalidConnectionRedis'}" />
      <add name="MyApp.LocalCacheWithNotifierAndFallbackInvalidConnection" assembly="PubComp.Caching.SystemRuntime" type="InMemoryCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'invalidConnectionRedisNotifier', 'OnSyncProviderFailure':{'ExpirationFromAdd':'00:00:01'}}" />
      <add name="MyApp.LocalCacheWithNotifierAndFallback.WithoutInvalidation" assembly="PubComp.Caching.SystemRuntime" type="InMemoryCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'redisNotifier', 'OnSyncProviderFailure':{'InvalidateOnProviderStateChange':false, 'ExpirationFromAdd':'00:00:03'}}" />

      <add name="MyApp.LocalScopedCacheWithNotifier" assembly="PubComp.Caching.SystemRuntime" type="InMemoryScopedCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'redisNotifier'}" />
      <add name="redisScopedCache" assembly="PubComp.Caching.RedisCaching" type="RedisScopedCache" policy="{'ConnectionName':'localRedis', 'ExpirationFromAdd':'00:10:00'}" />
      <add name="MyApp.LayeredScopedCache" assembly="PubComp.Caching.Core" type="LayeredScopedCache" policy="{'Level1CacheName':'MyApp.LocalScopedCacheWithNotifier', 'Level2CacheName':'redisScopedCache', 'InvalidateLevel1OnLevel2Upsert':true}" />

      <add name="MyApp.LocalScopedCacheWithNotifier.4a" assembly="PubComp.Caching.SystemRuntime" type="InMemoryScopedCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'redisNotifier'}" />
      <add name="redisScopedCache.4a" assembly="PubComp.Caching.RedisCaching" type="RedisScopedCache" policy="{'ConnectionName':'localRedis', 'ExpirationFromAdd':'00:10:00'}" />
      <add name="MyApp.LayeredScopedCacheWithAutomaticInvalidation" assembly="PubComp.Caching.Core" type="LayeredScopedCache" policy="{'Level1CacheName':'MyApp.LocalScopedCacheWithNotifier.4a', 'Level2CacheName':'redisScopedCache.4a', 'InvalidateLevel1OnLevel2Upsert':true}" />
    </CacheConfig>
  </PubComp>
  
  <!--<system.diagnostics>
    <sources>
      <source name="System.Net" switchValue="All">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
      <source name="System.Net.Sockets" switchValue="All">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="nlog" type="NLog.NLogTraceListener, NLog" />
    </sharedListeners>
  </system.diagnostics>-->

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" autoReload="true" internalLogFile="c:\logs\nlog-internal-log.txt" internalLogLevel="Warn">
    <targets async="false">
      <target name="console" type="ColoredConsole" layout="${longdate} ${level} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
          <dependentAssembly>
             <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
             <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
          </dependentAssembly>
       </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
