<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="PubComp">
      <section
        name="CacheConfig"
        type="PubComp.Caching.Core.CacheConfigurationHandler, PubComp.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
      <section
        name="CacheNotificationsConfig"
        type="PubComp.Caching.Core.CacheNotificationsConfigurationHandler, PubComp.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
  </configSections>

  <PubComp>
    <CacheConfig>
      <add name="redisCache" assembly="PubComp.Caching.RedisCaching.StackExchange" type="RedisCache"
           policy="{'ConnectionString':'127.0.0.1:6379,serviceName=mymaster,allowAdmin=true', 'ExpirationFromAdd':'00:10:00'}" />
      <add name="localCache" assembly="PubComp.Caching.SystemRuntime" type="PubComp.Caching.SystemRuntime.InMemoryCache" 
           policy="{'ExpirationFromAdd':'00:10:00', 'SyncProvider':'redis'}" />
      <add name="layeredCache" assembly="PubComp.Caching.Core" type="LayeredCache"
           policy="{'Level1CacheName':'localCache', 'Level2CacheName':'redisCache'}" />
    </CacheConfig>
    <CacheNotificationsConfig>
      <add name="redis" assembly="PubComp.Caching.RedisCaching.StackExchange" type="RedisCacheNotfier"
           policy="{'ConnectionString':'127.0.0.1:6379,serviceName=mymaster'}" />
    </CacheNotificationsConfig>
  </PubComp>
  
</configuration>