<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <ProjectUrl>https://pubcomp.codeplex.com</ProjectUrl>
  <LicenseUrl>https://pubcomp.codeplex.com/license</LicenseUrl>
  <Authors>Danny Varod</Authors>
  <Description>Distributed Caching based on ServiceStack.Redis and Redis</Description>
  <Summary>Distributed Caching based on ServiceStack.Redis and Redis</Summary>
  <Keywords>Cache, Caching, Redis, Distributed, CacheManager, PubComp</Keywords>
</NuGetPack>