<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <ProjectUrl>https://github.com/pub-comp/caching</ProjectUrl>
  <LicenseUrl>https://github.com/pub-comp/caching/blob/master/License.txt</LicenseUrl>
  <Authors>Oren Deri and Danny Varod</Authors>
  <Description>Distributed Caching based on StackExchange.Redis and Redis</Description>
  <Summary>Distributed Caching based on StackExchange.Redis and Redis</Summary>
  <Keywords>Cache, Caching, Redis, Distributed, CacheManager, PubComp</Keywords>
</NuGetPack>