<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <ProjectUrl>https://pubcomp.codeplex.com</ProjectUrl>
  <LicenseUrl>https://pubcomp.codeplex.com/license</LicenseUrl>
  <Authors>Danny Varod</Authors>
  <Description>Aspect Oriented Caching based on PubComp.Caching.Core and PostSharp</Description>
  <Summary>Aspect Oriented Caching based on PubComp.Caching.Core and PostSharp</Summary>
  <Keywords>Cache, Caching, AOP, Aspect, Oriented, PostSharp, CacheManager, PubComp</Keywords>
</NuGetPack>