<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <ProjectUrl>https://github.com/pub-comp/caching</ProjectUrl>
  <LicenseUrl>https://github.com/pub-comp/caching/blob/master/License.txt</LicenseUrl>
  <Authors>Danny Varod</Authors>
  <Description>Distributed Caching based on PubComp.Caching.Core and MongoDB</Description>
  <Summary>Distributed Caching based on PubComp.Caching.Core and MongoDB</Summary>
  <Keywords>Cache, Caching, MongoDB, Distributed, CacheManager, PubComp</Keywords>
</NuGetPack>