<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <ProjectUrl>https://pubcomp.codeplex.com</ProjectUrl>
  <LicenseUrl>https://pubcomp.codeplex.com/license</LicenseUrl>
  <Authors>Danny Varod</Authors>
  <Description>Distributed Caching based on PubComp.Caching.Core and MongoDB</Description>
  <Summary>Distributed Caching based on PubComp.Caching.Core and MongoDB</Summary>
  <Keywords>Cache, Caching, MongoDB, Distributed, CacheManager, PubComp</Keywords>
</NuGetPack>