<NuGetPack>
  <AddFrameworkReferences>true</AddFrameworkReferences>
  <ProjectUrl>https://pubcomp.codeplex.com</ProjectUrl>
  <LicenseUrl>https://pubcomp.codeplex.com/license</LicenseUrl>
  <Authors>Danny Varod</Authors>
  <Description>In-memory cache and in-memory serialized cache based on PubComp.Caching.Core and System.Runtime.Caching</Description>
  <Summary>In-memory cache and in-memory serialized cache based on PubComp.Caching.Core and System.Runtime.Caching</Summary>
  <Keywords>Cache, Caching, Memory, In-Memory, System.Runtime.Caching, ObjectCache, MemoryCache, CacheManager, PubComp</Keywords>
</NuGetPack>