<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <ProjectUrl>https://pubcomp.codeplex.com</ProjectUrl>
  <LicenseUrl>https://pubcomp.codeplex.com/license</LicenseUrl>
  <Authors>Danny Varod</Authors>
  <Description>Caching abstraction and Cache Manager</Description>
  <Summary>Caching abstraction and Cache Manager</Summary>
  <Keywords>Cache, Caching, CacheManager, PubComp</Keywords>
</NuGetPack>