<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="PubComp">
      <section name="CacheConfig" type="PubComp.Caching.Core.CacheConfigurationHandler, PubComp.Caching.Core" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <PubComp>
    <CacheConfig>
      <add name="redisNotifier" assembly="PubComp.Caching.RedisCaching" type="RedisCacheNotifier" policy="{'ConnectionName':'localRedis'}" />
      <add name="localRedis" assembly="PubComp.Caching.RedisCaching" type="RedisConnectionString" connectionString="127.0.0.1:6379,serviceName=mymaster" />
      <add name="MyApp.LocalCacheWithNotifier" assembly="PubComp.Caching.SystemRuntime" type="InMemoryCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'redisNotifier'}" />
    </CacheConfig>
  </PubComp>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" autoReload="true" internalLogFile="c:\logs\nlog-internal-log.txt" internalLogLevel="Warn">
    <targets async="false">
      <target name="console" type="Console" layout="${longdate} ${level} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="console" />
    </rules>
  </nlog>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
