<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="PubComp">
      <section name="CacheConfig" type="PubComp.Caching.Core.CacheConfigurationHandler, PubComp.Caching.Core" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <PubComp>
    <CacheConfig>
      <add name="loCalRedis" assembly="PubComp.Caching.RedisCaching" type="RedisConnectionString" connectionString="127.0.0.1:6379,serviceName=mymaster" />
      <add name="reDisNotiFier" assembly="PubComp.Caching.RedisCaching" type="RedisCacheNotifier" policy="{'ConnectionName':'loCalReDis'}" />

      <add name="MyApp.LocalCacheWithNotifier" assembly="PubComp.Caching.SystemRuntime" type="InMemoryCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'reDisNotifier'}" />
      <add name="MyApp.LocalCacheWithNotifier2" assembly="PubComp.Caching.SystemRuntime" type="InMemoryCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'redisNotiFier'}" />

      <add name="redisCache" assembly="PubComp.Caching.RedisCaching" type="RedisCache" policy="{'ConnectionName':'lOcalRedis', 'ExpirationFromAdd':'00:10:00'}" />
      <add name="MyApp.LayeredCache" assembly="PubComp.Caching.Core" type="LayeredCache" policy="{'Level1CacheName':'MYApp.LocalCacheWithNotifier', 'Level2CacheName':'rEdisCache'}" />
      <add name="MyApp.LayeredCacheWithAutomaticInvalidation" assembly="PubComp.Caching.Core" type="LayeredCache" policy="{'Level1CacheName':'MyAPp.LocaLCacheWithNotifier2', 'Level2CacheName':'rediSCache', 'InvalidateLevel1OnLevel2Upsert':true}" />

      <add name="MyApp.LocalScopedCacheWithNotifier" assembly="PubComp.Caching.SystemRuntime" type="InMemoryScopedCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'rediSNotifier'}" />
      <add name="reDisScopedCache" assembly="PubComp.Caching.RedisCaching" type="RedisScopedCache" policy="{'ConnectionName':'localRedis', 'ExpirationFromAdd':'00:10:00'}" />
      <add name="MyApp.LayeredScopedCache" assembly="PubComp.Caching.Core" type="LayeredScopedCache" policy="{'Level1CacheName':'MyAPP.LocaLScopedCacheWithNotifier', 'Level2CacheName':'rediSScopedCache'}" />

      <add name="MyApp.LocalScopedCacheWithNotifier.4a" assembly="PubComp.Caching.SystemRuntime" type="InMemoryScopedCache" policy="{'ExpirationFromAdd':'01:00:00', 'SyncProvider':'rediSNotifier'}" />
      <add name="redisScopedCache.4a" assembly="PubComp.Caching.RedisCaching" type="RedisScopedCache" policy="{'ConnectionName':'locAlRedis', 'ExpirationFromAdd':'00:10:00'}" />
      <add name="MyApp.LayeredScopedCacheWithAutomaticInvalidation" assembly="PubComp.Caching.Core" type="LayeredScopedCache" policy="{'Level1CacheName':'MyApP.LocaLScopedCacheWithNotifier.4a', 'Level2CacheName':'rediSScopedCache.4a', 'InvalidateLevel1OnLevel2Upsert':true}" />
    </CacheConfig>
  </PubComp>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" autoReload="true" internalLogFile="c:\logs\nlog-internal-log.txt" internalLogLevel="Warn">
    <targets async="false">
      <target name="console" type="Console" layout="${longdate} ${level} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="console" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
